$main-text-color: #fff;
$grey-text-color: rgba($main-text-color, 0.8);
$black-text-color: #0c0c0c;
$ui-elements-background-color: $main-text-color;



$accent-red: #dc5480;
$accent-green: #23ab7f;
$accent-orange: #ee863c;
$accent-terracotta: #b15e3b;
$accent-mint: #47986e;
$accent-slate: #656e72;



$admin-white: #ffffff;
$admin-black: #0c0c0c;
$admin-gray-light: #f5f5f5;
$admin-gray: #e0e0e0;
$admin-gray-dark: #3d3d3d;
$admin-overlay: rgba(255, 255, 255, 0.3);